.login-container {
    background-color: #153342;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form-grid {
    width: 100% !important;
    height: 100%;
}

.img-grid {
    width: 100% !important;
    overflow: hidden !important;
}
.login-img {
    background-color: #fff;
    border-radius: 30px 0 0 30px;
    height: 550px;
}

.login-img img {
    width: 100%;
    height: 550px;
    border-radius: 30px;
    
}

.login-form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 0 30px 30px 0;
    width: 100% !important;
    height: 550px;
}

.login-form {
    padding: 20px;
    height: 100%;
}

.login-form h1 {
    font-size: 40px;
    font-weight: 400;
    color: #023047;
}

.link {
    display: flex;
    align-items: baseline;
    justify-content: end;
}

.form-login {
    margin-top: 30px;
}

.form-login Button {
    width: 100%;
}

.login-label {
    display: block;
    font-size: 20px !important;
    margin-bottom: 16px;
    color: #023047;
}