.checkout {
    background-color: #f7f7f7;
}

.checkout-container {
    padding: 40px;
}

.checkout-content {
    background-color: #fff;
    padding: 35px;
    border-radius: 20px;
}

.checkout-heading {
    font-size: 40px;
    margin-bottom: 16px;
    font-weight: 700;
}

.checkout-form {
    margin-top: 16px;
}

.checkout-form h2 {
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: 500;
}

.form {
    margin-bottom: 10px;
}

.form-control {
    outline: none !important;
    background-color: #f7f7f7;
    width: 100%;
}

.checkout-summary {
    background-color: #023047;
    color: #fff;
    padding: 24px;
    margin-top: 16px;
    border-radius: 15px;
    width: 100%;
}

.summary-heading {
    font-size: 19px;
    font-weight: 500;
    position: relative;
}

.summary-heading::after {
    content: '';
    position: absolute;
    width: calc(100% + 48px);
    height: .5px;
    top: 100%;
    left: 0;
    transform: translateX(-24px);
    margin-top: 16px;
    background-color: #f7f7f7;
}

.summary-book {
    margin-top: 32px;
}

.book-img {
    width: 200px;
    height: 250px;
    
}
.book-img img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.summary-book-form {
    margin-top: 36px;
    display: flex;
}

.summary-form {
    width: 100%;
    background-color: #fff;
}

.apply {
    /* border: 1px solid #000 !important; */
    border-left: none !important;
    border-radius: 0 5px 5px 0 !important;
    background-color: #fff !important;
    color: #000;
}

.price {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.sub,
.sub-price,
.dis,
.dis-price {
    font-weight: 100;
}

.total,
.total-price {
    font-size: 24px;
    font-weight: 500;
}

.submit {
    margin-top: 24px;
    width: 100%;
    padding: 20px;
    color: #fff;
    background-image: linear-gradient(to left, #1B2D36 10%,#219EBC);
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 30px;
    
}