.cart {
    background-color: #f7f7f7;
}

.cart-container {
    padding: 50px;
}

.cart-content {
    background-color: #fff;
    border-radius: 24px;
}

.shopping-cart-grid {
    border-right: 2px solid #f7f7f7;
}

.shopping-cart-content,
.cart-summary-content {
    border-top: 2px solid #f7f7f7;
    padding: 24px;
    
}

.shopping-cart-header,
.cart-summary-header {
    padding: 24px;
}

.shopping-cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    padding-right: 24px;
}

.shopping-cart-header h1,
.cart-summary-header h1 {
    font-size: 25px;
}

.shopping-cart-header p {
    color: #9a9a9a;
}

.shopping-cart-content-grid {
    margin-bottom: 16px;
}

.product-img {
    height: 150px;
    width: 100px;
   
}
.product-img img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.content {
    margin-top: 16px;

}
.quantity{
    display: flex;
}
.content-heading{
    text-align: center;
}
.content-body{
    text-align: center;
}

.cart-summary-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.delivery {
    padding: 15px 40px;
    background-color: #8ECAE6;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.total-cart-price {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.checkout-btn {
    margin-top: 24px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    width: 100%;
}

.cart-count {
    border: 1px solid #8ECAE6;
}